.list {
  .list__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 1.25rem;
  }

  li {
    opacity: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
  h4 {
    margin-bottom: 1rem;
  }
  p {
    max-width: 900px;
  }
}

@media (min-width: 768px) {
  .list {
    width: 100%;
    li {
      height: 150px;
      flex-direction: column;
    }
    .list__info {
      min-width: 70%;
    }
  }
}

@media (min-width: 1280px) {
  .list {
    width: 70%;
    margin-right: 30%;
    .list__info {
      padding: 2rem;
    }
    h4 {
      margin-bottom: 1.2rem;
    }
  }
}
