.info_blurb {
  max-width: 800px;
  padding: 1.5rem 1.25rem;
  h2 div p {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .info_blurb {
    padding: 2rem;
    padding-top: 4.3rem;
  }
}

@media(min-width: 1280px) {
  .info_blurb {
    padding: 2rem;
    padding-top: 5.1rem;
  }
}
